
.wrapper{

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;

}
.main-wrap {
  background-color: #f5f5f5;
  flex: 1;
  height: 100vh;
  flex-flow: column;
  overflow: hidden;
}
.sub-wrap {
  margin-left: 78px;
  flex: 1;
  min-height: calc(100vh - (118px));
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}
.scan-new-user .sub-wrap {
  margin-left: 0px;
}
.scanner-wrap {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.scanner-text-wrap {
  width: 350px;
  height: 52px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scanner-footer-wrap .scanner-footer {
  background-color: #fff;
  color: darkgray;
  padding: 20px 0;
  text-align: right;
  padding-right: 88px;
  flex: 1;
}
.side-menu {
  position: fixed;
  background-color: #00bffd;
  height: 100%;
  width: 78px;
}

.ar-wrap .sub-wrap input[type="email"] {
  border: 1px solid gainsboro;
  height: 72px;
  width: 43%;
  padding-left: 30px;
  margin-bottom: 30px;
  border-radius: 19px;
  background-color: #fff;
  font-size: 18px;
}
.ar-wrap .sub-wrap a {
  background-color: #00bffd;
  width: 24%;
  height: 50px;
  border-radius: 17px;
}
.dashboard-nav input[type="search"] {
  border: 1px solid gray;
  height: 35px;
  border-radius: 25px;
  width: 70%;
  background-color: #fff;
  margin-top: 10px;
}
@media only screen and (max-width: 992px) {
  .sub-wrap {
    margin-left: 0px;
  }
  .scanner-footer-wrap .scanner-footer {
    text-align: center;
    padding-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .sub-wrap {
    margin-left: 0px;
  }
  .ar-wrap .sub-wrap input[type="email"] {
    width: 80%;
  }
  .ar-wrap .sub-wrap a {
    width: 60%;
  }
  .dashboard-wrap .sub-wrap {
    margin-top: 30px;
  }
  .dashboard-sm-search {
    width: 100%;
  }
}
.with-file{
  width: 250px;
  height: 250px;
  border: 3px solid #a19f9f;
  border-radius: 20px;
}